<div align="center">
  <br><br><br><br>
  <h1>My Conferences</h1>
  <br><br><br><br>
  <mat-accordion *ngFor="let conference of conferences">
    <mat-expansion-panel style="width: 50%">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{conference.title}}
        </mat-panel-title>
        <mat-panel-description>
          <div *ngIf="reviewToBeDone(conference)">
            <strong> Reviews to be done! </strong>
          </div>
          <div *ngIf="biddingToBeDone(conference)">
            <strong> Biddings pending! </strong>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="float: right">
        <div *ngIf="user.role !== Role.MEMBER; then elevatedBlock"></div>
        <ng-template #elevatedBlock>
          <div *ngIf="ifBiddingDone(conference)">
            <button mat-raised-button>Assign reviewers</button>
          </div>
          <button (click)="openDialog(conference)" mat-raised-button style="margin-left: 10px">
            Edit
          </button>
        </ng-template>
        <div *ngIf="biddingToBeDone(conference)">
          <button color="warn" mat-raised-button style="margin-left: 10px">
            Bid
          </button>
        </div>
        <div *ngIf="reviewToBeDone(conference)">
          <button color="warn" mat-raised-button style="margin-left: 10px">
            Review
          </button>
        </div>
      </div>
    </mat-expansion-panel>
    <br>
  </mat-accordion>
</div>
