<div align="center">
  <br><br><br><br>
  <h1>My Conferences</h1>
  <br><br><br><br>
  <div *ngIf="!!user">
    <mat-accordion *ngFor="let conference of conferences">
      <mat-expansion-panel style="width: 50%">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{conference.title}}
          </mat-panel-title>
          <mat-panel-description>
            <div *ngIf="reviewToBeDone(conference)">
              <strong> Reviews to be done! </strong>
            </div>
            <div *ngIf="biddingToBeDone(conference)">
              <strong> Biddings pending! </strong>
            </div>
            <div *ngIf="contradictoryReviews(conference) && getCurrentPCMember(conference).role === Role.CHAIR">
              <strong> Contradictory reviews! </strong>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <p>{{getCurrentDeadline(conference)}}</p>
          <div style="float: right">
            <ng-container *ngIf="getCurrentPCMember(conference).role !== Role.MEMBER">
              <ng-container *ngIf="checkAssigningPhase(conference) || contradictoryReviews(conference)">
                <button mat-raised-button (click)="goToAssignReviewers(conference.id)">Assign reviewers</button>
              </ng-container>
              <button (click)="openPostponeDialog(conference)" mat-raised-button style="margin-left: 10px">
                Edit
              </button>
            </ng-container>
            <ng-container *ngIf="biddingToBeDone(conference)">
              <button (click)="bid(conference)" color="warn" mat-raised-button style="margin-left: 10px">
                Bid
              </button>
            </ng-container>
            <ng-container *ngIf="checkEvaluatePhase(conference)">
              <button (click)="review(conference)" color="warn" mat-raised-button style="margin-left: 10px">
                Review
              </button>
            </ng-container>
          </div>
        </div>
      </mat-expansion-panel>
      <br>
    </mat-accordion>
  </div>
  <button (click)="openAddDialog()" mat-raised-button style="margin-left: 10px">
    Add
  </button>
</div>
