<title>Sign Up</title>

<form class="signUp-form">

  <mat-form-field class="full-width">
    <mat-label>Username</mat-label>
    <input matInput placeholder="exampleuser123" #username/>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Affiliation</mat-label>
    <input matInput placeholder="Example SRL" #affiliation/>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com" #email/>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="*****" #password/>
  </mat-form-field>

  <button (click)="signUp(username.value,email.value,password.value,affiliation.value)">Sign Up</button>

</form>

<h2>Already have an account? <a (click)="goToLogin()">Log-In here</a></h2>
