<p>my-submissions works!</p>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortDisableClear>
  <ng-container matColumnDef="Title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
    <mat-cell *matCellDef="let submission">{{submission.title}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
    <mat-cell *matCellDef="let submission">{{submission.status}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Abstract URL">
    <mat-header-cell *matHeaderCellDef>Abstract URL</mat-header-cell>
    <mat-cell *matCellDef="let submission">{{submission.abstractPaperUrl}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Full URL">
    <mat-header-cell *matHeaderCellDef>Full URL</mat-header-cell>
    <mat-cell *matCellDef="let submission">{{submission.fullPaperUrl}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Recommendation">
    <mat-header-cell *matHeaderCellDef>Recommendation</mat-header-cell>

    <mat-cell *matCellDef="let submission">
      <div *ngIf="submission.status === 'accepted'; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <button (click)="openDialog(submission)" mat-raised-button>Available</button>
      </ng-template>
      <ng-template #elseBlock>-</ng-template>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
  <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
</mat-table>
