<div class="center">
  <br><br><br><br>
  <h1 class="ml-3">Submissions</h1>
  <br><br><br><br>

  <mat-list *ngFor="let proposal of proposals">
    <mat-list-item>
      <mat-icon *ngIf="hasContradictoryReviews(proposal)">warning</mat-icon>
      {{proposal.name}}
      <button (click)="assign(proposal)" mat-raised-button style="margin-left: 3rem">Assign Reviewers</button>
      <button *ngIf="hasContradictoryReviews(proposal)" (click)="openReviewDialog(proposal)" mat-raised-button>Review</button>
    </mat-list-item>
  </mat-list>
</div>
